html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
:hover, :focus, :active { outline: none; }

html, button, input, select, textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: normal; font-weight: 400; color: #333;
	font-smooth:always; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

body{ margin: 12%; font-size: 18px; line-height: 1.8em; width: 76%; max-width: 600px;}

a {color: #007bff; font-weight: normal; cursor: pointer; text-decoration: none; background: transparent; transition:color 0.2s ease; -moz-transition:color 0.2s ease; -webkit-transition:color 0.2s ease; -o-transition:color 0.2s ease;}
a:hover {text-decoration: underline; outline: 0;}
::-moz-selection { background: #111; color: #fff; text-shadow: none; }
::selection { background: #111; color: #fff; text-shadow: none; }
a:active, a:focus{position:relative;top:1px;}

.hero { margin-bottom: 3em; }

h1 {font-weight: bold; font-size: 40px; margin: 0; text-rendering: optimizeLegibility; line-height: 1.618em;}
h2 { font-weight: normal; font-size: 24px; color: #666; margin: 0; line-height: 1.618em;}

.main { margin-bottom: 3em; }


.delay2 {
	-webkit-animation-delay: .3s;
    animation-delay: .3s;}

.delay3 {
	-webkit-animation-delay: .8s;
    animation-delay: .8s;}

.delay4 {
	-webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2%, 0);
    transform: translate3d(0, -2%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}
